body {
    background-color: darkgray;
    text-align: center;
 }
 
 #canvas {
    background-color: white;
 }
 
 img {
    width: 100px;
    position: absolute;
    left: 20px;
 }
 
 .junction {
    top: 60px;
 }
 
 .wunder {
    top: 80px;
 }
 
 .integrify {
    top: 10px;
 }